html,
body {
  margin: 0;
}

body {
  font-family: "Roboto", "Arial", "serif";
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

h1 {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}

.h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.site-wrapper {
  /*  outline: 1px dotted red;*/
  min-width: 1200px;
  background-repeat: no-repeat;
  background-position: top center;
  transition: all 0.5s ease;
  background-image: url("../img/icecream-3.png");
}


/*слайдер*/

.site-wrapper:before,
.site-wrapper:after {
  content: '';
  visibility: hidden;
}

.site-wrapper:before,
.site-wrapper:after {
  background-image: url("../img/icecream-1.png");
}

.site-wrapper:after {
  background-image: url("../img/icecream-2.png");
}

.content-wrapper {
  /*  outline: 1px dotted red;*/
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  /*  outline: 1px dotted red;*/
  position: relative;
}

.slider {
  /*  outline: 1px dotted red;*/
  position: relative;
  padding-top: 321px;
  text-align: center;
  color: #ffffff;
  width: 1200px;
  z-index: 1;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.0;
}

.slide-btn {
  display: inline-block;
  padding: 12px 43px;
  font-weight: 700;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 27px;
/*  z-index: 20;*/
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/icecream-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/icecream-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/icecream-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}


/*слайдер*/


/*красная кнопка общие свойства*/

.red-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fefefe;
  font-family: Roboto;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
}

.btn-item-hover {
  color: #fefefe;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 13px 17px;
  /*
width: 200px;
height: 44px;
*/
  box-sizing: border-box;
  box-shadow: 0 1px 2px #ac1000;
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  z-index: 10;
}

.red-btn:hover {
  background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.red-btn:active {
  background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.header-container {
  display: flex;
  position: relative;
}

.header-container img {
  margin: 9px 0 0 25px;
}

.main-navigation {
  display: flex;
  justify-content: center;
  /*  outline: 2px dotted black;*/
  min-height: 15px;
  height: 20px;
  margin: 24px 0 0 11px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  /*  outline: 5px dotted red;*/
  /*  height: 20px;*/
}

.main-menu {
  /*  outline: 5px dotted green;*/
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
}

.main-menu a {
  display: block;
  padding: 6px 14px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  white-space: nowrap;
}

.index-menu>li>a::after {
  content: "";
  display: block;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
}

.main-menu>li {
  position: relative;
  display: flex;
  align-items: flex-start;
  /*  padding-bottom: 8px;*/
  z-index: 2;
}

.main-menu>li>a:hover {
  color: #323232;
  text-decoration: none;
  border-radius: 15px;
  background-color: #f7f6f3;
}

.main-menu>li>a:active {
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
  background-color: rgba(248, 247, 244, 0.99);
}

.main-menu .sub-menu {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  /*  если ставлю больше значение то подменю пропадает без возможности выбора*/
  width: 143px;
  height: auto;
  margin: 0;
  margin-left: -8px;
  padding: 0;
  list-style: none;
  border-radius: 4px 5px 5px 4px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  z-index: 2;
}

.main-menu .sub-menu a {
  padding: 8px 5px 8px 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.main-menu > li:hover .sub-menu {
  display: block;
}

.sub-menu a:hover {
  background-color: #fbded8;
}

.sub-menu a:active {
  background-color: #f6b5a5;
}

.sub-menu a.active {
  color: #323232;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
/*  text-decoration: none;*/
}

.user-block {
  /*  outline: 5px dotted red;*/
  display: flex;
  height: 32px;
  width: 261px;
  margin: 22px 0 0 345px;
/*  z-index: 100;*/
}

.user-block-btn {
  height: 32px;
  box-sizing: border-box;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border-radius: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.user-block a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
}

.search {
  position: relative;
  min-width: 32px;
  padding: 8px 8px;
}

.search:hover {
  background-color: #ffffff;
}

.search::before {
  content: "";
  position: absolute;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  background-position: -67px -157px;
}

.search:hover::before {
  background-position: -94px -157px;
}

.search-form {
 
  width: 341px;
  height: 84px;
  text-align: center;
  border-radius: 4px;
  background-color: #f8f7f4;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 70px;
  right: 150px;
   display: none;
}

.search:hover .search-form {
  display: block;
/*    z-index: 500;*/
}

.search-form input {
  width: 311px;
  height: 44px;
  border-radius: 4px 5px 5px 4px;
  border: 1px solid #d3d3d2;
  background-color: #ffffff;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  vertical-align: middle;
  font-size: 18px;
  padding: 10px auto;
  margin-top: 10px;
  padding-left: 10px;
}



.login-form {
  display: none;
  position: absolute;
  top: 0;
  left: 0px;
  width: 277px;
  height: 214px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  background-color: #f8f7f4;
}

.login:hover .login-form {
  display: block;

}

.login {
  position: relative;
  min-width: 92px;
  padding: 8px 16px 9px 44px;
  color: #ffffff;
}

.login:hover,
.basket:hover {
  background-color: #ffffff;
  color: #323232;
}

.login::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 15px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  width: 21px;
  height: 19px;
  background-position: -5px -140px;
}

.login:hover::before {
  background-position: -36px -140px;
}

.basket {
  position: relative;
  width: 117px;
  margin-right: 0;
  padding: 8px 0px 9px 42px;
}

.basket::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 15px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
  background-position: -239px -5px;
}
.basket-catalog::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 15px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  width: 21px;
    height: 20px;
    background-position: -239px -35px;
}

.basket:hover::before {
  background-position: -239px -35px;
}


/*форма корзины*/

.common-buttons-form-basket {
  top: 49px;
  right: 0;
  width: 509px;
  padding: 20px 14px 19px 17px;
  font-size: 13px;
  line-height: 18px;
  color: #323232;
  min-height: 203px;
}

.common-buttons-form {
  position: absolute;
  display: none;
  margin: 0;
  padding: 0;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.basket-item {
  padding-bottom: 11px;
  min-height: 32px;
  vertical-align: top;
}

.basket-item-delete {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 0;
  margin: 10px 0 0;
  background-color: inherit;
  background-image: url(../img/item-del.png);
  border: 0;
  vertical-align: top;
}

.basket-item-title {
  width: 260px;
  margin-left: 17px;
  margin-right: 24px;
}

.basket-item-count {
  margin-right: 24px;
}

.basket-item-count .cost-per-kg {
  color: #999;
}

.basket-item-count,
.basket-item-title,
.basket-item-worth {
  display: inline-block;
  padding-top: 8px;
  vertical-align: top;
}

.basket-item-last {
  padding-bottom: 14px;
  border-bottom: 1px solid #cacac7;
}

.basket-item {
  padding-bottom: 11px;
  min-height: 32px;
  vertical-align: top;
}

.common-buttons-form-basket .total {
  margin-top: 15px;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 15px;
}

.common-buttons-form-basket .btn,
.common-buttons-form-basket .total {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


/*форма корзины*/

.breadcrumbs {
  margin-top: -4px;
  margin-left: 27px;
  /*    color: #e4e9e6;*/
  list-style: none
}

.breadcrumbs a {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.breadcrumbs a:last-child {
  text-decoration: none;
}

.breadcrumbs .raquo {
  margin-right: 4px;
  margin-left: 7px
}

.breadcrumbs ul {
  margin: 25px 0 2px;
  padding: 0
}

.breadcrumbs .raquo,
.breadcrumbs li {
  display: inline-block;
  vertical-align: top
}

.breadcrumbs a:active,
.breadcrumbs a:hover {
  color: #ffbc9e
}

.work-time {
  /*  outline: 1px dotted red;*/
  position: absolute;
  right: 145px;
  top: 72px;
}

.work-time p {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: right;
}

.work-time p:nth-child(2) {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 5px;
}

.content-profitable {
  /*  outline: 1px dotted red;*/
  display: flex;
  justify-content: space-around;
  margin: 0 27px;
  margin-top: 40px;
  height: 229px;
}

.content-profitable p {
  margin-top: 14px;
}

.chocolate-share {
  /*  outline: 1px dotted red;*/
  margin-left: 26px;
  width: 560px;
  height: 229px;
  background-image: url(../img/bg-chocolate.png);
  background-repeat: no-repeat;
  padding: 17px 20px 22px 19px;
}

.raspberry-share {
  /*  outline: 1px dotted red;*/
  width: 560px;
  height: 229px;
  background-image: url(../img/bg-raspberry.png);
  background-repeat: no-repeat;
  padding: 17px 20px 22px 19px;
}

.raspberry-share p,
.chocolate-share p {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  /*  margin: 0;*/
}

.raspberry-share h2,
.chocolate-share h2 {
  margin: 0;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.profitable-btn-left,
.profitable-btn-right {
  /* Style for "Подложка" */
  width: 165px;
  height: 46px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  opacity: 0.99;
  /* Style for "Хочу варен" */
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  /*  padding: 15px 24px 14px 22px;*/
  margin: 45px 0 0 355px;
  /*  box-sizing: border-box;*/
}

.profitable-btn-right {
  margin: 45px 0 0 332px;
  width: 189px;
}

.wrapper-ice-item {
  /*  outline: 1px dotted red;*/
  margin-top: 40px;
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
}

.ice-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0px 17px 18px;
  min-height: 332px;
  width: 277px;
  z-index: 50;
  margin-bottom: 17px;
}
.ice-item img {
  position: relative;
  z-index: 12;
  
}


.ice-item-hit::before {
  content: "";
  position: absolute;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  width: 61px;
  height: 61px;
  background-position: -123px -97px;
  top: 0;
  left: 6px;
  z-index: 15;
}


.ice-item-price {
  position: absolute;
  top: 204px;
  left: 3px;
  font-size: 45px;
  z-index: 13;
}

.ice-item-name {
  /*  outline: 1px dotted red;*/
  display: flex;
  justify-content: center;
  margin-top: 15px;
  width: 256px;
  font-size: 16px;
  text-align: center;
  /*  margin: 0 auto;*/
}

.hover-block {
  background-color: rgba(248, 247, 244, 0.3);
  width: 293px;
  height: 405px;
  position: absolute;
  top: 0;
/*  left: -5px;*/
  z-index: 10;
  display: none;
}

.hover-block a {
  display: inline-block;
  padding: 10px 22px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;
  background-image: linear-gradient(to top, #ca3824 0%, #f26843 100%);
  border: none;
  border-radius: 25px;
  outline: none;
  box-shadow: 0 2px 2px rgba(85, 8, 0, .54);
  position: absolute;
  bottom: 10px;
  left: 40px;
  z-index: 10;
}

.kg {
  font-size: 30px;
}
.ice-item:hover {
  z-index: 11;
}

.ice-item:hover .hover-block {
  display: block;
}

.about-shop {
  /*  outline: 1px dotted red;*/
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  height: 306px;
  margin: 14px 28px 0px 27px;
  padding: 24px 33px 26px 20px;
  background-color: #eadcbe;
  background-image: url(../img/bg-waffles.png);
  background-repeat: repeat-x;
  border-radius: 15px;
  box-sizing: border-box;
}

.about-shop>h2 {
  /*  outline: 1px dotted red;*/
  /*  height: 54px;*/
  margin: 0;
  color: #323232;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.about-shop>p {
  /*  outline: 1px dotted red;*/
  margin: 23px -9px 0 56px;
  width: 478px;
  color: #323232;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  position: relative;
}


.block-news-subscribe {
  /*  outline: 1px dotted red;*/
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 40px 27px 0 27px;
  border-radius: 15px;
  background-image: url(../img/bg-news.png);
  background-repeat: no-repeat;
  /*  box-sizing: border-box;*/
}

.news-blog {
  /*  outline: 1px dotted red;*/
  /*  display: block;*/
  width: 560px;
  min-height: 220px;
  padding: 22px 0px 0px 20px;
}

.news-blog p {
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
  margin-bottom: 5px;
}

.news-blog h3 {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  width: 290px;
}

.news-blog a {
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}

.news-blog a:hover,
.news-blog a:active {
  text-decoration: underline;
  color: #e84d37;
}

.subscribe {
  /*  outline: 1px dotted red;*/
  /*  display: block;*/
  width: 560px;
  min-height: 220px;
  background-image: url(../img/bg-email.png);
  background-repeat: no-repeat;
  /*  margin: 5px 0 0 px;*/
  margin-left: 25px;
  padding: 5px;
}

.map-wrapper {
/*    outline: 1px dotted red;*/
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 18px;
}

.map {
  /*  outline: 1px dotted red;*/
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  min-height: 430px;
  width: 1200px;
  background-size: cover;
}

.map-contact {
  position: relative;
  /*  outline: 1px dotted red;*/
  display: flex;
  flex-direction: column;
/*  align-items: flex-start;*/

  width: 302px;
  height: 305px;
  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 15px;
  padding: 28px 25px;
/*  display: none;*/
  box-sizing: border-box;
  color: #323232;

}


.map-contact p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.map-contact p:first-child {
  margin-bottom: 17px;
}
.map-contact p:nth-child(2) {
  margin-bottom: 2px;
}
.map-contact p:nth-child(3) {
  margin-bottom: 24px;
}

.map-contact b {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.map-contact b:nth-child(2){
  display: block;
  margin-top: 7px;
/*  margin-bottom: 5px;*/
}

.feedback-form {
  /* Style for "Подложка" */
position: absolute;
top: 0;
right: 350px;
width: 317px;
height: 276px;
border-radius: 10px;
background-color: #f8f7f4;
/*    display: none;*/
}

.main-footer {
  width: 100%;
}

.footer-social {
  /*  outline: 1px dotted red;*/
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
}

.footer-info {
  /*  outline: 1px dotted red;*/
  display: flex;
  position: relative;
  margin-left: -10px;
}

.footer-info a {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
  margin-left: 3px;
}

.footer-info-column1 {
  /*  outline: 1px dotted red;*/
  display: flex;
  flex-direction: column;
}

.footer-info-column2 {
  /*  outline: 1px dotted red;*/
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}

.footer-info-column1::before {
  content: "❤";
  width: 15px;
  /*  height: 13px;*/
  position: absolute;
  top: 0px;
  left: -20px;
}

.footer-copyright {
  /*  outline: 1px dotted red;*/
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.footer-copyright p,
.footer-copyright a {
  margin: 0;
  color: #fefefe;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.social-btn {
  display: flex;
  width: 31px;
  height: 31px;
  margin-right: 15px;
  margin-left: 3px;
  vertical-align: top;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .6), inset 0 0 0 1px rgba(255, 255, 255, 0.6);
  opacity: 0.8;
}

.social-btn-tw {
  background-position: -278px -157px;
}

.social-btn-inst {
  background-position: -236px -157px;
}

.social-btn-fb {
  background-position: -194px -157px;
}

.social-btn-vk {
  background-position: -320px -157px;
}

.footer-wrapper {
  /*  outline: 1px dotted red;*/
  width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/*
.footer-copyright>p {
  outline: 1px dotted red;
  margin: 0;
}
*/


/*фильтр каталога*/

.filters>.filters-label,
fieldset {
  display: inline-block;
  vertical-align: top;
}

filters {
  margin-bottom: 40px;
}

.filters>.filters-label {
  margin-right: 13px;
}

.filters>.filters-label,
fieldset {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filters>.filters-label:first-child {
  width: 193px;
}

.filters>.filters-label:nth-child(2) {
  width: 218px;
  height: 58px;
}

.filters-label:first-child .filter-title,
fieldset:nth-of-type(2) .filter-title {
  margin-left: 16px;
}

.filters-label:nth-of-type(2) .filter-title,
fieldset:nth-of-type(1) .filter-title {
  margin-left: 14px;
}

input[type=range],
select[name=sort] {
  height: 37px;
}

.btn-filter,
.container-buttons,
.filter-cost,
input[type=range],
select[name=sort] {
  font-size: 16px;
  line-height: 18px;
  border-radius: 18px;
}

.container-buttons,
input[type=range] {
  margin-top: 5px;
  background-color: #a9bab0;
}

.btn-filter,
.filter-cost {
  height: 37px;
}

.filter-cost {
  margin-top: 5px;
  background-color: #a9bab0;
}

.wrap-select-sort {
  width: 193px;
  margin: 5px 0 0;
  padding: 0;
  overflow: hidden;
  border-radius: 15px;
  min-height: 17px;
}

select[name=sort] {
  width: 330px;
  margin: 0;
  color: #ffffff;
  padding: 8px 22px 7px 11px;
  background-color: #a9bab0;
  background-image: url(../img/marker.png);
  background-repeat: no-repeat;
  background-position: 170px center;
  border: 0;
  min-height: 32px;
}

select[name=sort]:hover {
  color: #000000;
  background-color: #ffffff;
  background-image: url(../img/marker-hover.png);
}

.filter-cost {
  position: relative;
  width: 218px;
}

.filter-cost .scale {
  position: absolute;
  top: 16px;
  left: 15px;
  width: 188px;
  height: 4px;
  background-color: #ffffff;
  opacity: 0.5;
}

.filter-cost .bar,
.filter-cost .range-toggle {
  position: absolute;
  top: 16px;
  left: 44px;
  width: 98px;
  height: 4px;
  background-color: #ffffff;
}

.filter-cost .range-toggle {
  top: 8px;
  left: 34px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.filter-cost .range-toggle:last-child {
  position: absolute;
  top: 8px;
  left: 132px;
}

fieldset,
legend {
  margin: 0;
  padding: 0;
  border: 0;
}

fieldset label {
  position: relative;
  margin-right: 15px;
  padding: 0;
  cursor: pointer;
}

.filters input[type=checkbox],
.filters input[type=radio] {
  display: none;
}

fieldset:first-of-type label {
  padding-left: 29px;
}

fieldset:first-of-type label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  border-radius: 50%;
}

input[type=radio]:disabled+label::after {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

input[type=radio]:checked+label::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
}

input[type=radio]:checked:disabled+label::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%
}

fieldset:last-of-type label {
  margin-right: 16px;
  padding-left: 32px
}

fieldset:last-of-type label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  border-radius: 3px
}

input[type=checkbox]:disabled+label::after {
  border: 1px solid rgba(255, 255, 255, 0.4)
}

input[type=checkbox]:checked+label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: inherit;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  background-position: -65px -65px;
}

.container-buttons {
  height: 21px;
  padding: 10px 3px 6px 16px
}

fieldset:nth-of-type(2) {
  margin-top: 16px
}

fieldset:nth-of-type(2) .container-buttons {
  padding-right: 5px
}

label {
  vertical-align: top
}

.btn-filter {
  margin: 37px 0 0 11px;
  padding: 5px 26px 5px 28px;
  font-weight: 500;
  background-color: #a9bab0;
  border: 2px solid #fff;
  min-height: 37px;
  color: #ffffff;
}

.btn-filter:hover {
  color: #353535;
  background-color: #fff
}

.btn-filter:active {
  padding: 7px 28px 7px 30px;
  color: #353535;
  background-color: #eaeaea;
  border: 0;
  box-shadow: inset 0 2px 1px #696969
}


/*фильтр каталога*/

.subscribe-base {
  width: 549px;
  height: 210px;
  border-radius: 9px;
  background-color: #f8f7f4;
  padding: 32px 0 0 21px;
  box-sizing: border-box;
}

.subscribe-base p {
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  width: 510px;
  margin-bottom: 33px;
}

.subscribe-base input {
  display: inline-block;
  width: 367px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
  box-sizing: border-box;
}

#email {
  padding: 10px;
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.email-btn {
  display: inline-block;
  border: none;
  width: 129px;
  height: 44px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-left: 7px;
}

.paginator {
  outline: 1px dotted red;
  display: flex;
  justify-content: flex-end;
  min-width: 190px;
  min-height: 26px;
}

.first-nav-checked {
  margin: 0 3px 0 1px;
  /*    padding: 7px 12px 6px 14px;*/
  background-color: #d07058;
  border: 0;
  border-radius: 15px;
}

.main-filter h1 {
  color: #ffffff;
  font-family: Roboto;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  margin: 0;
  margin-bottom: 25px;
}

.main-filter {
  margin: 5px 0 0 25px;
}

.item-margin {
  width: 100%;
  margin-bottom: 13px;
}

.about-icecream::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  width: 49px;
  height: 49px;
  background-position: -63px -5px;
  top: -14px;
  left: -56px;
}

.about-cow::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  top: -14px;
  left: -56px;
  width: 48px;
  height: 49px;
  background-position: -5px -5px;
}
.about-leaf::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  top: -14px;
  left: -56px;
  width: 49px;
    height: 49px;
    background-position: -122px -5px; 
}

.about-thermometer::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  top: -14px;
  left: -56px;
  width: 48px;
    height: 49px;
    background-position: -181px -5px;
  
}

.wrapper-map-contact {
  display: flex;
  justify-content: flex-end;
  padding: 62px 27px 0 0;
  
  
/*
    margin-left: auto;
    
*/
}

.open-feedback-form {
  border: none;
width: 252px;
height: 44px;
box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
background-color: #e84d37;
background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  

color: #fefefe;
font-size: 18px;
font-weight: 700;
line-height: 24px;
}
/*
.open-feedback-form:hover .feedback-form{
  display: block;
}
*/


.feedback-form-wrapper {
  position: relative;
  padding-top: 10px;
  
}
.feedback-form-wrapper input {
  margin: 0 25px 10px 25px;
width: 267px;
height: 44px;
border-radius: 4px;
border: 1px solid rgba(178, 178, 178, 0.52);
background-color: #ffffff;
  

color: #999999;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}

.feedback-form-wrapper label {
  
margin-left: 39px;
color: #5b9ddf;
font-size: 11px;
font-weight: 400;
line-height: 13px;
 visibility: hidden;
}

.feedback-form-wrapper input:active .feedback-form-wrapper label {
visibility: visible;
}
