html,
body {
/*  min-height: 100vh;*/
  margin: 0;
}

body {
  font-family: "Roboto", "Arial", "serif";
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

h1 {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}

.h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.site-wrapper {
  outline: 1px dotted red;
  min-width: 1200px;
  background-repeat: no-repeat;
  background-position: top center;
  transition: all 0.5s ease;
  background-image: url("../img/icecream-3.png");
}


/*слайдер*/

.site-wrapper:before,
.site-wrapper:after {
  content: '';
  visibility: hidden;
}

.site-wrapper:before,
.site-wrapper:after {
  background-image: url("../img/icecream-1.png");
}

.site-wrapper:after {
  background-image: url("../img/icecream-2.png");
}

.content-wrapper {
  outline: 1px dotted red;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  outline: 1px dotted red;
  position: relative;
}

.slider {
  outline: 1px dotted red;
  position: relative;
  padding-top: 394px;
  text-align: center;
  color: #ffffff;
  width: 1200px;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.0;
}

.slide-btn {
  display: inline-block;
  padding: 12px 43px;
  font-weight: 700;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 27px;;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/icecream-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/icecream-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/icecream-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

/*слайдер*/

/*красная кнопка общие свойства*/
.red-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fefefe;
  font-family: Roboto;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
}

.btn-item-hover {
color: #fefefe;
font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 24px;
  padding: 13px 17px;
  
/*
width: 200px;
height: 44px;
*/
  box-sizing: border-box;
box-shadow: 0 1px 2px #ac1000;
background-color: #e84d37;
background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  z-index: 10;
}


.red-btn:hover {
  background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.red-btn:active {
  background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.header-container {
  display: flex;
  /*  align-items: center;*/
  min-width: 100%;
  position: relative;
}

.header-container img {
  outline: 1px dotted red;
  position: absolute;
  top: 9px;
  left: 25px;
}

.main-navigation {
  display: flex;
  /*  padding: 24px 0 0 168px;*/
  position: absolute;
  top: 24px;
  left: 189px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
}

.main-menu {
  outline: 1px dotted red;
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
}

.main-menu a {
  display: block;
  padding: 6px 14px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  /*  может лучше underline ?*/
  white-space: nowrap;
}

.main-menu a::after {
  content: "";
  display: block;
  height: 1px;
  background-color: rgba(255, 255, 255, .4);
}

.main-menu>li {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-bottom: 8px;
  z-index: 1;
}

.main-menu>li>a:hover {
  color: #323232;
  text-decoration: none;
  border-radius: 15px;
  background-color: #f7f6f3;
}

.main-menu>li>a:active {
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
  background-color: rgba(248, 247, 244, 0.99);
}

.main-menu .sub-menu {
  display: none;
  position: absolute;
  top: 30px;
  /*  если ставлю больше значение то подменю пропадает без возможности выбора*/
  width: 143px;
  margin: 0;
  margin-left: -8px;
  padding: 0;
  list-style: none;
  border-radius: 4px 5px 5px 4px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.main-menu .sub-menu a {
  padding: 8px 5px 8px 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.main-menu > li:hover .sub-menu {
  display: block;
}

.sub-menu a:hover {
  background-color: #fbded8;
}

.sub-menu a:active {
  background-color: #f6b5a5;
}

.sub-menu a.active {
  color: #323232;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

.user-block {
  position: absolute;
  top: 23px;
  right: 27px;
  display: flex;
  height: 32px;
  width: 261px;
}

.user-block-btn {
  height: 32px;
  box-sizing: border-box;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border-radius: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.user-block a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
}

.search {
  position: relative;
  min-width: 32px;
  padding: 8px 8px;
}

.search:hover {
  background-color: #ffffff;
}

.search:hover .search-form {
  display: block;
}

.login-form {
  /* Style for "Подложка" */
  display: none;
  position: absolute;
  top: 0;
  left: 0px;
  width: 277px;
  height: 214px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  background-color: #f8f7f4;
}

.login:hover .login-form {
  display: block;
}

.search::before {
  content: "";
  position: absolute;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  background-position: -67px -157px;
}

.search:hover::before {
  background-position: -94px -157px;
}

.login {
  position: relative;
  min-width: 92px;
  padding: 8px 16px 9px 44px;
  color: #ffffff;
}

.login:hover,
.basket:hover {
  background-color: #ffffff;
  color: #323232;
}

.login::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 15px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  width: 21px;
  height: 19px;
  background-position: -5px -140px;
}

.login:hover::before {
  background-position: -36px -140px;
}

.basket {
  position: relative;
  width: 117px;
  margin-right: 0;
  padding: 8px 34px 9px 45px;
}

.basket::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 15px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
  background-position: -239px -5px;
}

.basket:hover::before {
  background-position: -239px -35px;
}

.search-form {
  display: none;
  width: 341px;
  height: 84px;
  text-align: center;
  border-radius: 4px;
  background-color: #f8f7f4;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 70px;
  right: 150px;
}

.search-form input {
  width: 311px;
  height: 44px;
  border-radius: 4px 5px 5px 4px;
  border: 1px solid #d3d3d2;
  background-color: #ffffff;
  color: #999999;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  vertical-align: middle;
  font-size: 18px;
  padding: 10px auto;
  margin-top: 10px;
  padding-left: 10px;
}


/*.breadcrumbs {}*/

.breadcrumbs-wrapper {
  display: flex;
}

.breadcrumbs-wrapper li {
  list-style: none;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.work-time {
  outline: 1px dotted red;
  position: absolute;
  right: 145px;
  top: 72px;
}

.work-time p {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: right;
}

.work-time p:nth-child(2) {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 5px;
}

.content-profitable {
  outline: 1px dotted red;
  display: flex;
  justify-content: space-around;
      margin: 0 27px;
  margin-top: 40px;
  height: 229px;
  
}
.content-profitable p {
  margin-top: 14px;
}

.chocolate-share {
  outline: 1px dotted red;
  margin-left: 26px;
  width: 560px;
  height: 229px;
  background-image: url(../img/bg-chocolate.png);
  background-repeat: no-repeat;
  padding: 17px 20px 22px 19px;
}

.raspberry-share {
  outline: 1px dotted red;
  width: 560px;
  height: 229px;
  background-image: url(../img/bg-raspberry.png);
  background-repeat: no-repeat;
  padding: 17px 20px 22px 19px;
}
.raspberry-share p,
.chocolate-share p {
color: #ffffff;
font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 22px;
/*  margin: 0;*/
  
  
}
.raspberry-share h2,
.chocolate-share h2 {
  margin: 0;
font-size: 35px;
font-weight: 700;
line-height: 41px;
  

}

.wrapper-ice-item {
  outline: 1px dotted red;
  margin-top: 40px;
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
}

.ice-item {
  outline: 1px dotted red;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0px 17px 18px;
  position: relative;
/*  min-height: 405px;*/
  min-height: 332px;
  width: 277px;
  z-index: 10;
  margin-bottom: 17px;
  justify-content: flex-start;
}

/*
.ice-item:nth-child(1),
.ice-item:nth-child(1n+4){
  margin-left: 14px; 
  margin-right: 0;
}
.ice-item:nth-child(4n){
  margin-left: 0;
  margin-right: 5px;
}
*/


.ice-item-price {
  position: absolute;
  top: 214px;
  left: 0;
  font-size: 45px;
}

.ice-item-name {
  outline: 1px dotted red;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  /*   почему не срабатывает?*/
  width: 256px;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
}

.hover-block {
  background-color: #f8f7f4;
  opacity: 0.3;
  width: 293px;
  height: 405px;
  position: absolute;
  top: 0;
  left: -5;
  z-index: 1;
  display: none;
}

.hover-block a {
  display: inline-block;
  padding: 10px 22px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  background-image: linear-gradient(to top, #ca3824 0%, #f26843 100%);
  border: none;
  border-radius: 25px;
  outline: none;
  box-shadow: 0 2px 2px rgba(85, 8, 0, .54);
  position: absolute;
  bottom: 10px;
  left: 30px;
  z-index: 10;
  /*  не могу понять почему кнопка наверх не выходит*/
}

.ice-item:hover .hover-block {
  display: block;
}

.about-shop {
  outline: 1px dotted red;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: 40px;
  padding-top: 0;
}

.about-shop>h2 {
  outline: 1px dotted red;
  width: 100%;
  padding: 0 30px;
}

.about-shop>p {
  outline: 1px dotted red;
  width: 40%;
  padding: auto;
  margin-left: 40px;
}

.block-news-subscribe {
  outline: 1px dotted red;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 40px;
}

.news-blog {
  outline: 1px dotted red;
  display: block;
  width: 560px;
  min-height: 220px;
}

.subscribe {
  outline: 1px dotted red;
  display: block;
  width: 560px;
  min-height: 220px;
}

.map-wrapper {
  outline: 1px dotted red;
  min-width: 1200px;
  margin-top: 40px;
}

.map {
  outline: 1px dotted red;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  min-height: 430px;
  min-width: 1200px;
  background-size: cover;
}

.map-contact {
  outline: 1px dotted red;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 302px;
  height: 305px;
  background-color: #fffefc;
  border-radius: 15px;
  display: none;
}

.map-contact>p {
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.map-contact>b {
  color: #323232;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.feedback-form {
  display: none;
}

.main-footer {
  outline: 5px dotted red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 103px;
  width: 100%
}

.footer-social {
  outline: 1px dotted red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 185px;
}

.footer-info {
  outline: 1px dotted red;
  display: flex;
}

.footer-info-column1 {
  outline: 1px dotted red;
  display: flex;
  flex-direction: column;
}

.footer-info-column2 {
  outline: 1px dotted red;
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}

.footer-info-column1::before {
  content: "";
  width: 15px;
  height: 13px;
  position: absolute;
  top: 3px;
  left: -20px;
}

.footer-copyright {
  outline: 1px dotted red;
  display: flex;
  flex-direction: column;
}

.footer-copyright>a {
  outline: 1px dotted red;
}

.footer-copyright>p {
  outline: 1px dotted red;
  margin: 0;
}

.filter-row-top {
  outline: 1px dotted red;
  display: flex;
  justify-content: flex-start;
}

.main-filter {
  outline: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-filter>h1 {
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.filter-row-bottom {
  outline: 1px dotted red;
  display: flex;
  justify-content: flex-start;
}

.paginator {
  outline: 1px dotted red;
  display: flex;
  justify-content: flex-end;
  min-width: 190px;
  min-height: 26px;
}

.social-btn {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: aqua;
  margin-right: 30px;
  border-radius: 50%;
  padding: auto;
  box-sizing: border-box;
  text-align: center;
}

.social-btn-tw {
  width: 150px;
}

.common-buttons-form-basket {
  top: 49px;
  right: 0;
  width: 509px;
  padding: 20px 14px 19px 17px;
  font-size: 13px;
  line-height: 18px;
  color: #323232;
  min-height: 203px;
}

.common-buttons-form {
  position: absolute;
  display: none;
  margin: 0;
  padding: 0;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .6);
  z-index: 100;
}

.basket-item {
  padding-bottom: 11px;
  min-height: 32px;
  vertical-align: top;
}

.basket-item-delete {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 0;
  margin: 10px 0 0;
  background-color: inherit;
  background-image: url(../img/item-del.png);
  border: 0;
  vertical-align: top;
}

.basket-item-title {
  width: 260px;
  margin-left: 17px;
  margin-right: 24px;
}

.basket-item-count {
  margin-right: 24px;
}

.basket-item-count .cost-per-kg {
  color: #999;
}

.basket-item-count,
.basket-item-title,
.basket-item-worth {
  display: inline-block;
  padding-top: 8px;
  vertical-align: top;
}

.basket-item-last {
  padding-bottom: 14px;
  border-bottom: 1px solid #cacac7;
}

.basket-item {
  padding-bottom: 11px;
  min-height: 32px;
  vertical-align: top;
}

.common-buttons-form-basket .total {
  margin-top: 15px;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 15px;
}

.common-buttons-form-basket .btn,
.common-buttons-form-basket .total {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.profitable-btn-left,
.profitable-btn-right
{
  /* Style for "Подложка" */
  width: 165px;
  height: 46px;
box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
background-color: #ffffff;
background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
opacity: 0.99;
  /* Style for "Хочу варен" */
color: #ffffff;
font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 24px;
  text-decoration: none;
/*  padding: 15px 24px 14px 22px;*/
  margin: 45px 0 0 355px;
/*  box-sizing: border-box;*/
 
}
.profitable-btn-right {
  margin: 45px 0 0 332px;
  width: 189px;

}

.kg {
  font-size: 30px;
}
